<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.url == "/index.html" %}
        Home
    {% elsif page_type == "category" %}
        {{ category_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
</title>
{% seo %}

<link rel="shortcut icon" type="image/png" href="{{ site.logo_img | prepend: site.baseurl }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,600;0,7..72,700;1,7..72,400&display=swap" rel="stylesheet">

<meta name="baseurl" content="{{ site.baseurl }}">
<meta
name="description"
content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">